.rfo-ddwl {
  height: 25px;
  border: 1px solid;
  display: flex;
  align-items: center;
  padding: 6px;
  color: #009697;
  background: #ecfaf3;
  width: 100%;
  justify-content: space-between;
  .value-str {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
